body {
  background-color: black;
  margin-left: 500px;
}
table {
  border-style: none;
  border-width: 0.1px;
  background-color: rgb(235, 235, 235);
  border-color: black;
  border-spacing: 8px;
  border-radius: 5px;
}

th {
  border-style: none;
  background-color: lightgreen;
  text-align: right;
  padding: 10px;
  font-size: 16pt;
  font-family: monospace;
}

td {
  border-style: none;
  border-radius: 5px;
  border-width: 0.1px;
  text-align: center;
  background-color: lightcyan;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.display {
  background-color: lightgreen;
  padding: 15px;
  font-family: monospace;
  font-size: large;
  text-align: right;
  font-size: 15pt;
  /* border-radius: 5px; */
}

button {
  font-size: 16pt;
  font-weight: 600;
  border: none;
  color: black;
  background-color: transparent;
  padding: 30px;
}

.toggle-on-off {
  background-color: red;
}
