body {
  display: flex;
  flex-direction: column;
  background-color: rgb(73, 73, 73);
}

table {
  border-style: none;
  border-width: 0.1px;
  background-color: rgb(235, 235, 235);
  border-color: black;
  border-spacing: 8px;
  border-radius: 5px;
}

th {
  border-style: none;
  background-color: lightgreen;
  text-align: right;
  padding: 25px;
  font-size: 20pt;
  font-family: monospace;
}

td {
  border-style: none;
  border-radius: 5px;
  border-width: 0.1px;
  text-align: center;
  background-color: lightcyan;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

button {
  font-size: 16pt;
  font-weight: 600;
  border: none;
  color: black;
  background-color: transparent;
  padding: 30px;
}

.display {
  background-color: lightgreen;
  padding: 15px;
  font-family: monospace;
  font-size: large;
  text-align: right;
  font-size: 15pt;
}

.container-table {
  display: flex;
  justify-content: center;
}

.container-title {
  display: flex;
  justify-content: center;
  font-size: 40pt;
  font-family: monospace;
  margin-bottom: 0px;
}

/* .active {
  background-color: red;
} */

#title {
  color: lightgreen;
}
